.carouselContainer {
    margin: 8rem 3rem 3rem;
}

.react-multi-carousel-item {
    object-fit: contain !important;
}


img {
    object-fit: contain !important;
}

@media (min-width: 46rem) {
    .item {
        height: 575px;
    }
    
}