.carouselContainer {
    margin: 15rem 0 3rem;
}

.carouselContainer img {
    object-fit: contain !important;
    display: block;
    width: 100vw;
}


@media (min-width: 46rem) {
    .item {
        height: 575px;
    }
    
}