.container {
  padding: 2rem;
}

.heading {
  padding-top: 3.25rem;
}

.description {
  margin-bottom: 2rem;
}

.description p {
  margin: 1.5rem 0;
}

.consultationLink {
  margin: 4rem 0;
}


@media (min-width: 40rem) {
  .container {
    width: 75%;
  }
}