@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --primary-bg-color: #f3f3f3;
}

body {
  background: var(--primary-bg-color);
}

.mobile-navbar {
  background: #fff;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 9px 15px 3px rgba(0,0,0,0.3); 
  box-shadow: 0px 9px 15px 3px rgba(0,0,0,0.3);
}

.navbar {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  padding: 0 1rem;
}

.nav-items {
  list-style: none;
  height: 0;
  text-align: center;
  overflow: hidden;
  transition: height 350ms ease;
}

.show-nav-items {
  height: 100vh;
}
.nav-logo {
  height: 6.5rem;
  width: 6.5rem;
}

.nav-item {
  padding: 1.2rem 0;
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.toggle-button {
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2rem 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 1.8rem;
  height: 0.15rem;
  background: #000;
  display: block;
  position: relative;
  margin: 0.2rem 0;
}

.bar-open,
.bar-close {
  transition: opacity 200ms, transform 300ms;
}
/* bar open */
.toggle-button__bar.bar-open:nth-child(1) {
  transform: rotate(45deg);
  top: 0.4rem;
}
.toggle-button__bar.bar-open:nth-child(2) {
  opacity: 0;
  width: 0;
}
.toggle-button__bar.bar-open:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 0.28rem;
}

/* bar close */
.toggle-button__bar.bar-close:nth-child(1) {
  transform: rotate(0);
}
.toggle-button__bar.bar-close:nth-child(2) {
  opacity: 1;
}
.toggle-button__bar.bar-close:nth-child(3) {
  transform: rotate(0);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: rgb(222, 221, 221);
  font-weight: bold;
}


@media (min-width: 48rem) {
  .mobile-navbar {
    display: none;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .navbar {
    display: block;
    position: fixed;
    background: #fff;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 9px 15px 3px rgba(0,0,0,0.3); 
    box-shadow: 0px 9px 15px 3px rgba(0,0,0,0.3);
  }

  .toggle-button {
    display: none;
  }

  .nav-items {
    list-style: none;
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .nav-item {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
}

.construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.construction span {
  font-size: 10rem;
}

.active {
  border-bottom: solid #ffbf00 2px;
  background: #ebebeb;
  padding: 0.2rem 0.3rem;
}
