.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.hero_cta {
  font-size: 3rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

strong span {
  color: #ffbf00;
}

.subtext {
  font-size: 0.6rem;
  letter-spacing: 4px;
  color: #999;
  line-height: 1.5;
  margin-top: 1rem;
  padding: 0 1rem;
}

@media (min-width: 40rem) {
  .subtext {
    font-size: 1.2rem;
  }
  
  .hero_cta {
    font-size: 6rem;
  }
}
/*=========== mouse effect ===========*/
.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid #888;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}

.scroll {
  display: block;
  width: 4px;
  height: 4px;
  margin: 6px auto;
  border-radius: 4px;
  background: rgb(255, 0, 0);
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/*=========== mouse effect end ===========*/

.section_title {
  font-size: 2.5rem;
  width: 18rem;
  margin: auto;
  padding-bottom: 1rem;
}

/* ==================== Services Section Style Start ==================== */
.services {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}


.services_subtext {
  margin-top: 2rem;
}

.services_list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.service {
  padding: 2rem 0;
}

.service_image {
  height: 150px;
  width: 150px;
  transition: 1s;
}

.service_description {
  max-width: 65%;
  margin: auto;
}

@media (min-width: 40rem) {
  .services {
    max-width: 80rem;
    margin: 10rem auto;
  }

  .section_title {
    font-size: 3rem;
    width: 20rem;
  }

  .service {
    width: 40%;
    max-width: 30rem;
  }

  .services_list {
    display: flex;
    justify-content: space-around;
  }

  .service_image:hover {
    transform: rotate(360deg);
  }
}
/* ==================== Services Section Style End ==================== */


/* ==================== Quote Section Style Start ==================== */
.quote_container {
  background-color: #E9E3DC;
}

/* ==================== Quote Section Style End ==================== */