  .portfolio_item_container {
    width: 100%;
  }
  
  .img_responsive {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  
  .portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
  }
  
  .portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
  }
  
  .portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
  }
  
  .portfolio .categories-grid .categories ul li a:hover,
  .portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
  }
  
  .portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #ffbf00;
    padding: 0px 20px;
    color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }
  
  .portfolio_filter {
    padding-left: 0;
  }
  
  .portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
  }
  
  .portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    font-weight: bold;
  }
  
  .portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
    opacity: 0;
  }
  
  .portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    display: inline-block;
    background-color: #ffbf00;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
    opacity: 0;
    font-size: 10px;
    letter-spacing: 2px;
  }
  
  .portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .portfolio_item:hover .item_info em,
  .portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .portfolio .categories-grid .categories ul li {
    float: left;
  }
  
  .portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
  }
  
  .portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
  }
  
  @media (min-width: 40rem) {
    .portfolio {
      margin-top: 12rem;
    }
  
    .portfolio_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  
    .portfolio_container_reversed {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  
    .portfolio_item_container {
      width: 100%;
    }
  
    .img_responsive {
      height: 18rem;
      width: 100%;
      object-fit: contain;
    }
  
    
    .portfolio_grid_item_first {
      grid-area: 1 / 3 / span 2 / 5;
    }
    
    .portfolio_grid_item_second {
      grid-area: 1 / 1 / span 2 / 3;
    }
  
    .portfolio_grid_item_first .portfolio_item .img_responsive {
      height: 36rem;
    }

    .portfolio_grid_item_second .portfolio_item .img_responsive {
      height: 36rem;
    }
  }